@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
  padding: none;
  border: none;
  box-sizing: border-box;
}
body {
  background-color: #7bdaf3;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.notes {
  width: 500px;
  height: 500px;
  background-color: #fff;
  margin: 20px;
}
.notes .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.notes .tools button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.main .notes {
  weight: 100%;
  height: 100%;
}
.notes textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: inherit;
  outline: none;
}
