@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
  padding: none;
  border: none;
  box-sizing: border-box;
}
body {
  /* background-color: #7BDAF3; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
