.container {
  max-width: 960px;
}
h1,
h2,
h3,
h4,
h5,
p,
body {
  font-family: 'Poppins', sans-serif;
  color: #252930;
}
p {
  color: #5d6778;
}
.btn-primary {
  font-weight: bold;
}
.cards {
  background-color: white;
}
.cards-h5 {
  font-weight: bold;
  padding-top: 25px;
}
.col-h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 32px;
  font-weight: 700;
}
