@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

:root {
  --main-bg-color: #6c5ce7;
  --black-color: #000;
  --white-main-color: #fff;
  --dark-gray-color: #1e272e;
  --light-gray-color: #747474;
  --very-light-gray-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.border {
  border: 2px solid black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100vh;
  /* vh = view-height */
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--white-main-color);
}

nav ul {
  display: flex;
}

nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  color: #585b55;
  letter-spacing: 1px;
  font-size: 0.8em;
}

nav ul li a:hover {
  background-color: var(--main-bg-color);
  color: #fff;
  border-radius: 5px;
}

.get-in-touch {
  color: var(--dark-gray-color);
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid var(--main-bg-color);
}

.logo-heading {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--black-color);
}

.name {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: var(--main-bg-color);
}

/* Content */
.content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.model,
.skill-img {
  height: 500px;
  width: 500px;
}

.model img,
.skill-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-text {
  width: 500px;
}

.main-text h1 {
  font-size: 3.5em;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}

.main-text p {
  color: var(--light-gray-color);
}

.portfolio-button {
  width: 190px;
  height: 44px;
  display: grid;
  place-items: center;
  color: var(--white-main-color);
  background-color: var(--main-bg-color);
  border-radius: 5px;
}
#skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto auto 50px auto;
}
.skill-heading span {
  color: var(--main-bg-color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}
.skill-heading h2 {
  color: var(--dark-gray-color);
  font-size: 45px;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}

.skills-box {
  display: flex;
  margin: 25px 0px;
}

.s-box-icon {
  margin-right: 15px;
}
.s-box-icon i {
  font-size: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--very-light-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bg-color);
}

.s-box-text strong {
  color: var(--dark-gray-color);
  margin: 0px;
  font-size: 15px;
  font-weight: 600;
}

.s-box-container p {
  font-size: 15px;
}

#my-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto auto 50px auto;
}
.project-showcase {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.project {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}

.one {
  background-image: url('../imgs/Programming-amico.png');
  background-size: contain;
}
.two {
  background-image: url('../imgs/Programming-amico.png');
  background-size: contain;
}
.three {
  background-image: url('..assets/imgs/Programming-amico.png');
  background-size: contain;
}

.project #hide {
  visibility: hidden;
  background-color: var(--white-main-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  opacity: 100%;
  z-index: 1000;
}

.project:hover #hide {
  visibility: visible;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid var(--main-bg-color);
}

.project-text {
  color: var(--dark-gray-color);
  font-size: 18px;
  padding: 20px;
  justify-content: space-evenly;
}
.project-btn {
  background-color: var(--black-color);
  color: var(--white-main-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  padding: 15px;
}
.project-btn:hover {
  background-color: var(--white-main-color);
  color: var(--black-color);
}
.ml-5 {
  margin-left: 3.5%;
}

.view-more-btn {
  background-color: var(--main-bg-color);
  color: var(--white-main-color);
  height: 44px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto auto 50px auto;
  padding: 50px 0px;
}
.c-box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.client-box {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  color: var(--white-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}

.client-box img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid var(--white-main-color);
  background-color: white;
  object-fit: cover;
}

.star {
  display: flex;
  margin: 10px 0px 0px 0px;
}

.star i {
  color: gold;
}

.client-box p {
  color: var(--white-main-color);
  font-size: 14px;
  margin: 10px 0px;
  text-align: center;
}
.client-box a {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bg-color);
  background-color: var(--white-main-color);
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid white;
}

.client-box a:hover {
  color: white;
  background-color: rgba(222, 220, 232, 0.2);
  border: 1px solid white;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto auto 50px auto;
}

#contact img {
  width: 500px;
}

#contact h3 {
  font-size: 32px;
  margin: 20px;
}
.contact-input {
  width: 400px;
  height: 50px;
  background-color: var(--white-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contact-input input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: var(--dark-gray-color);
}
.contact-input a {
  width: 200px;
  height: 40px;
  background-color: var(--main-bg-color);
  color: var(--white-main-color);
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--very-light-gray-color);
}

footer p {
  margin: 15px 0px;
  color: var(--dark-gray-color);
  font-size: 14px;
}
.contact img {
}
