@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
  /* Primary Colors */
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  /* Neutral Colors */
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-verylight-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Public Sans';
  font-size: 18px;
}
.navbar-grid {
  display: grid;
  margin: 0px 30vh;
  height: 10vh;
  align-items: center;
}
nav {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
}
.menu-item {
  display: grid;

  grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
  padding: 0px 120px;
  justify-content: space-evenly;
}
a {
  letter-spacing: -0.5px;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--neutral-grayish-blue);
}
.menu-item li a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-lime-green);
  color: var(--primary-dark-blue);
}
.call-to-act-btn {
  border-radius: 50px;
  padding: 15px 30px;
  color: var(--neutral-white);
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
.call-to-act-btn:hover {
  background-image: linear-gradient(
    to right,
    hsla(136, 65%, 51%, 0.61),
    hsla(192, 70%, 51%, 0.699)
  );
}

.hero-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 90vh;
  width: 100%;
}
.hero-grid-left {
  margin: 25vh 21vh;
}
.hero-grid-left h1 {
  font-size: 8vh;
  font-weight: 300;
}
.hero-grid-left p,
.about-us-grid-row-title p {
  margin-top: 40px;
  line-height: 3.5vh;
  color: var(--neutral-grayish-blue);
}
.hero-btn {
  margin-top: 45px;
}

.hero-grid-right {
  background-image: url(./images/bg-intro-desktop.svg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-grid-right img {
  height: auto;
  object-position: 2vh -6vw;
  margin-left: 7vw;
}
@media only screen and (max-width: 768px) {
  .navbar-grid {
    margin: 0px 10vh;
    height: 10vh;
  }
  .hero-grid {
    grid-template-columns: 100%;
    height: 100vh;
  }
  .hero-grid-left {
    order: 2;
    margin: 0vh 8vw;
    text-align: center;
  }
  .hero-grid-left h1 {
    font-size: 8vw;
  }
  .hero-grid-left p {
    font-weight: 150;
    font-size: 2.3vh;
    line-height: 3.3vh;
    margin-top: 3vh;
  }
  .hero-grid-right {
    order: 1;
    height: 34vh;
    background-size: 91vh;
    background-position-x: -20vw;
    background-position-y: -35vh;
  }
  .hero-grid-right img {
    object-position: 1vh -34.5vw;
    width: 95%;
  }
}
.about-us-grid {
  background-color: var(--neutral-light-grayish-blue);
  padding: 15vh 20vh;
}
.about-us-grid-row-title h2,
.blog-title-row h2 {
  font-weight: 400;
  font-size: 5vh;
}

.about-us-grid-row-cards,
.blog-cards-row {
  display: grid;
  grid-template-columns: 40vh 40vh 40vh 40vh;
  grid-row: 1;
  column-gap: 2.5vh;
  margin-top: 10vh;
}

.about-us-card h3 {
  margin-top: 5vh;
  font-weight: 400;
  font-size: 4vh;
}
.about-us-card p {
  color: var(--neutral-grayish-blue);
  margin-top: 5vh;
  line-height: 3.5vh;
}
@media only screen and (max-width: 768px) {
  .about-us-grid {
    padding: 10vh 5vh;
  }
  .about-us-grid {
    text-align: center;
  }
  .about-us-grid-row-title p,
  .about-us-card p {
    font-weight: 250;
    font-size: 2.3vh;
    line-height: 3.3vh;
    margin-top: 3vh;
  }
  .about-us-grid-row-cards {
    grid-template-columns: 1fr;
    row-gap: 5vh;
  }
}
.blog-grid {
  padding: 15vh 20vh;
  background-color: var(--neutral-verylight-gray);
}
.blog-card {
  background-color: var(--neutral-white);
}
.blog-card img {
  height: 35vh;
  width: 100%;
  border-radius: 7px;
}

.blog-description {
  margin: 2vh;
}
.author-name {
  margin-top: 2vh;
  font-size: 1.7vh;
  color: var(--neutral-grayish-blue);
}
.blog-description h3 {
  margin-top: 2vh;
  font-weight: 400;
  font-size: 3vh;
}
.blog-description h3:hover,
.outer-pages-column a:hover,
.homepage-links-column a:hover {
  color: #2ec29c;
  cursor: pointer;
}

.blog-description p {
  margin-top: 2vh;
  font-size: 2vh;
  line-height: 3.5vh;
  color: var(--neutral-grayish-blue);
}
@media only screen and (max-width: 768px) {
  .blog-grid {
    padding: 10vh 5vh;
    text-align: center;
  }
  .blog-cards-row {
    grid-template-columns: 1fr;
    row-gap: 5vh;
  }
}
.footer {
  padding: 7vh 20vh;
  background-color: var(--primary-dark-blue);
  color: var(--neutral-light-grayish-blue);
  display: grid;
  grid-template-columns: 40vh 40vh 40vh 40vh;
}
.social-logos {
  margin-top: 7vh;
  margin-right: 20vh;
  display: grid;
  grid-template-columns: 5vh 5vh 5vh 5vh 5vh;
}
.social-logos svg {
  fill: var(--neutral-grayish-blue);
}
svg:hover,
svg:focus {
  fill: #2ec29c;
  cursor: pointer;
}
.homepage-links-column,
.outer-pages-column {
  display: grid;
  line-height: 3.5vh;
}
.call-to-act-column {
  margin-top: 2vh;
  margin-left: 5vh;
}
.call-to-act-column a {
  margin-left: 10vh;
}
.call-to-act-column p {
  margin-top: 5vh;
  font-size: 2.2vh;
  color: var(--neutral-grayish-blue);
}
