@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
  /* Primary Colors */
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  /* Neutral Colors */
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-verylight-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Public Sans';
  font-size: 18px;
}
.navbar-grid {
  display: grid;
  margin: 0px 30vh;
  height: 10vh;
  align-items: center;
}
nav {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
}
.menu-item {
  display: grid;

  grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
  padding: 0px 120px;
  justify-content: space-evenly;
}
a {
  letter-spacing: -01px;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--neutral-grayish-blue);
}
.menu-item li a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-lime-green);
  color: var(--primary-dark-blue);
}
.call-to-act-btn {
  border-radius: 50px;
  padding: 15px 30px;
  color: var(--neutral-white);
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
.call-to-act-btn:hover {
  background-image: linear-gradient(
    to right,
    hsla(136, 65%, 51%, 0.61),
    hsla(192, 70%, 51%, 0.699)
  );
}
