@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
  /* Primary Colors */
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  /* Neutral Colors */
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-verylight-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Public Sans';
  font-size: 18px;
}
.grid-container {
  display: grid;
  margin: 0px 30vh;
  height: 10vh;
  align-items: center;
}
nav {
  display: grid;
  grid-template-columns: max-content auto max-content;
  background-color: aqua;
}
.menu-item {
  display: grid;
  background-color: black;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}

.call-to-act-btn {
  background-color: var(--primary-lime-green);
}
